/*$visual-grid: true; */
button, input[type="button"], input[type="reset"], input[type="submit"],
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  background-color: #477dca;
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus,
  button:hover,
  button:focus {
    background-color: #2c5999;
    color: #fff; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled,
  button:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

fieldset {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  margin: 0 0 0.75em;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em; }

label {
  font-weight: 600;
  margin-bottom: 0.375em; }
  label.required::after {
    content: "*"; }
  label abbr {
    display: none; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea,
select[multiple=multiple],
textarea {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, textarea:hover,
  select[multiple=multiple]:hover,
  textarea:hover {
    border-color: #c4c4c4; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, textarea:focus,
  select[multiple=multiple]:focus,
  textarea:focus {
    border-color: #477dca;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

table {
  -webkit-font-feature-settings: "kern", "liga", "tnum";
  -moz-font-feature-settings: "kern", "liga", "tnum";
  -ms-font-feature-settings: "kern", "liga", "tnum";
  font-feature-settings: "kern", "liga", "tnum";
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased;
  color: #333;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #477dca;
  text-decoration: none;
  transition: color 0.1s linear; }
  a:active, a:focus, a:hover {
    color: #2c5999; }
  a:active, a:focus {
    outline: none; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  /*   @include outer-container;*/
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: auto; }
  @media screen and (max-width: 500px) {
    body {
      color: #293f69; } }
  @media screen and (max-width: 840px) {
    body {
      color: #293f69; } }

.outer-container {
  max-width: 80.5em;
  margin-left: auto;
  margin-right: auto;
  height: inherit; }
  .outer-container::after {
    clear: both;
    content: "";
    display: table; }

.header {
  clear: both;
  box-shadow: 2px 2px black;
  background-image: url("../styles/imgs/sapien.jpg");
  background-size: cover;
  width: 100%;
  height: 800px;
  /*   @include media($tablet) {
    background-color: #293f69;
    background-image: none;
  } */ }
  @media screen and (max-width: 500px) {
    .header {
      background-color: #293f69;
      background-image: none; } }

.header-words {
  padding-top: 70px;
  padding-left: 5px;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 100px;
  text-shadow: 1px 1px black; }
  @media screen and (max-width: 500px) {
    .header-words {
      margin-left: 2.28571%;
      font-size: 70px; } }

.headh2 {
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 75px;
  text-shadow: 1px 1px black; }
  @media screen and (max-width: 500px) {
    .headh2 {
      font-size: 45px;
      margin-left: 5.33333%; } }

.header a {
  text-decoration: none;
  color: white; }

.button-div {
  padding-top: 94px;
  width: 500px;
  margin: 0 auto;
  float: left;
  display: block;
  margin-right: 2.85714%;
  width: 88.57143%; }
  .button-div:last-child {
    margin-right: 0; }

.nav-buttons {
  float: left;
  display: block;
  margin-right: 2.85714%;
  width: 31.42857%;
  font-family: 'Lato', sans-serif;
  border: solid white 2px;
  display: inline;
  font-size: 30px;
  color: white;
  display: inline-block;
  /*   width: 160px;*/
  height: 50px;
  text-align: center;
  /*   padding-top: 10px;*/
  margin-right: 7px;
  text-shadow: 1px 1px black;
  box-shadow: 1px 1px black; }
  .nav-buttons:last-child {
    margin-right: 0; }
  @media screen and (max-width: 500px) {
    .nav-buttons {
      float: left;
      display: block;
      margin-right: 6.66667%;
      width: 100%;
      margin-left: 5.33333%; }
      .nav-buttons:last-child {
        margin-right: 0; } }

#bio {
  width: 100%;
  /*   height: 450px;*/
  color: #402613;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 35px;
  float: left;
  display: block;
  margin-right: 2.85714%;
  width: 100%;
  display: block;
  padding-bottom: 20px;
  height: inherit; }
  #bio:last-child {
    margin-right: 0; }
  @media screen and (max-width: 500px) {
    #bio {
      float: left;
      display: block;
      margin-right: 6.66667%;
      width: 73.33333%;
      color: #293f69; }
      #bio:last-child {
        margin-right: 0; } }

#bio h1 {
  margin: 0 auto;
  width: 500px; }

.who {
  text-align: center; }

.bio-words {
  float: left;
  display: block;
  margin-right: 2.85714%;
  width: 65.71429%;
  padding-top: 50px;
  padding-bottom: 60px;
  font-size: 25px;
  text-align: center;
  margin-left: 17.14286%; }
  .bio-words:last-child {
    margin-right: 0; }
  @media screen and (max-width: 500px) {
    .bio-words {
      float: left;
      display: block;
      margin-right: 6.66667%;
      width: 100%;
      color: #293f69; }
      .bio-words:last-child {
        margin-right: 0; } }

#project-display {
  max-width: 80.5em;
  margin-left: auto;
  margin-right: auto;
  float: left;
  display: block;
  margin-right: 2.85714%;
  width: 100%;
  margin-left: 6.85714%;
  padding-bottom: 20px;
  padding-left: none; }
  #project-display::after {
    clear: both;
    content: "";
    display: table; }
  #project-display:last-child {
    margin-right: 0; }
  #project-display:nth-child(5n) {
    margin-right: 0; }
  #project-display:nth-child(5n+1) {
    clear: left; }
  @media screen and (max-width: 500px) {
    #project-display {
      margin-left: 0%; } }

.proj {
  padding: 100px 0 20px;
  text-align: center; }

.fescue {
  float: left;
  display: block;
  margin-right: 2.85714%;
  width: 31.42857%;
  /*   @include omega(4n);
   */
  background-image: url("../styles/imgs/Port-fescue.png");
  background-size: 100% 100%;
  width: 300px;
  height: 200px; }
  .fescue:last-child {
    margin-right: 0; }
  @media screen and (max-width: 500px) {
    .fescue {
      width: 100%; } }

.surf {
  float: left;
  display: block;
  margin-right: 2.85714%;
  width: 31.42857%;
  /*   @include omega(4n);
   */
  background-image: url("../styles/imgs/port-surfpaddle.png");
  background-size: 100% 100%;
  width: 300px;
  height: 200px; }
  .surf:last-child {
    margin-right: 0; }
  @media screen and (max-width: 500px) {
    .surf {
      width: 100%; } }

.blog {
  float: left;
  display: block;
  margin-right: 2.85714%;
  width: 31.42857%;
  /*   @include omega(4n);
   */
  background-image: url("../styles/imgs/port-blog.png");
  background-size: 100% 100%;
  width: 300px;
  height: 200px; }
  .blog:last-child {
    margin-right: 0; }
  @media screen and (max-width: 500px) {
    .blog {
      width: 100%; } }

.chitchat {
  float: left;
  display: block;
  margin-right: 2.85714%;
  width: 31.42857%;
  /*   @include omega(4n);
   */
  background-image: url("../styles/imgs/ChitChat.png");
  background-size: 100% 100%;
  width: 300px;
  height: 200px; }
  .chitchat:last-child {
    margin-right: 0; }
  @media screen and (max-width: 500px) {
    .chitchat {
      width: 100%; } }

.calc {
  float: left;
  display: block;
  margin-right: 2.85714%;
  width: 31.42857%;
  /*   @include omega(4n);
   */
  background-image: url("../styles/imgs/port-calc.png");
  background-size: 100% 100%;
  width: 300px;
  height: 200px;
  display: inline-block; }
  .calc:last-child {
    margin-right: 0; }
  @media screen and (max-width: 500px) {
    .calc {
      width: 100%;
      margin: 0 auto; } }

.big-div {
  height: 500px;
  text-align: center; }

.contact {
  max-width: 80.5em;
  margin-left: auto;
  margin-right: auto;
  float: left;
  display: block;
  margin-right: 2.85714%;
  width: 100%;
  /*   height: 450px;*/
  margin: 0 auto;
  width: 100%;
  color: #402613;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 35px;
  float: left;
  clear: both;
  padding-top: 20px; }
  .contact::after {
    clear: both;
    content: "";
    display: table; }
  .contact:last-child {
    margin-right: 0; }
  @media screen and (max-width: 500px) {
    .contact {
      float: left;
      display: block;
      margin-right: 6.66667%;
      width: 100%;
      color: #293f69; }
      .contact:last-child {
        margin-right: 0; } }

.icon {
  float: left;
  display: block;
  margin-right: 2.85714%;
  width: 8.57143%;
  margin-left: 11.42857%; }
  .icon:last-child {
    margin-right: 0; }

#conth1 {
  display: block;
  padding: 100px 0 20px;
  width: 100%;
  height: inherit;
  text-align: center;
  color: #402613;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 50px; }
  @media screen and (max-width: 500px) {
    #conth1 {
      /*     display: flex;
       */
      color: #293f69; } }

#conth1 h1 {
  margin: 0 auto;
  width: 500px; }
  @media screen and (max-width: 500px) {
    #conth1 h1 {
      float: left;
      display: block;
      margin-right: 6.66667%;
      width: 100%; }
      #conth1 h1:last-child {
        margin-right: 0; } }

#wrap {
  float: left;
  display: block;
  margin-right: 2.85714%;
  width: 65.71429%;
  margin-left: 22.85714%;
  margin-left: 0;
  width: 100%; }
  #wrap:last-child {
    margin-right: 0; }
  @media screen and (max-width: 840px) {
    #wrap {
      float: left;
      display: block;
      margin-right: 3.22581%;
      width: 48.3871%;
      margin-left: 19.35484%;
      color: #293f69; }
      #wrap:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 500px) {
    #wrap {
      float: left;
      display: block;
      margin-right: 6.66667%;
      width: 46.66667%; }
      #wrap:last-child {
        margin-right: 0; } }

#wrap a {
  display: inline-block;
  margin: 0 auto;
  border-radius: 120px;
  background-color: #fff;
  width: 120px;
  height: 120px;
  text-align: center;
  color: #402613; }
  @media screen and (max-width: 500px) {
    #wrap a {
      margin: 0 auto;
      width: 90px;
      color: #293f69; } }

a .fa {
  margin: auto;
  width: 100%;
  height: 100%;
  line-height: 120px;
  font-size: 75px; }
  @media screen and (max-width: 500px) {
    a .fa {
      font-size: 45px; } }

#wrap a:hover {
  background-color: #402613;
  color: white; }
  @media screen and (max-width: 500px) {
    #wrap a:hover {
      background-color: #293f69;
      color: white; } }

.h1h1 {
  display: block;
  padding: 100px 0 20px;
  width: 100%;
  height: inherit;
  text-align: center;
  color: #402613;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 50px; }
  @media screen and (max-width: 500px) {
    .h1h1 {
      /*     display: flex;
       */
      color: #293f69; } }

.h1h1 h1 {
  margin: 0 auto;
  width: 500px; }
  @media screen and (max-width: 500px) {
    .h1h1 h1 {
      float: left;
      display: block;
      margin-right: 6.66667%;
      width: 100%; }
      .h1h1 h1:last-child {
        margin-right: 0; } }

/*# sourceMappingURL=main.css.map */
