/* $visual-grid: true;
 */
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  max-width: 80.5em;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff; }
  body::after {
    clear: both;
    content: "";
    display: table; }

.header {
  clear: both;
  box-shadow: 2px 2px black;
  background-image: url("../styles/imgs/sapien.jpg");
  background-size: cover;
  width: 100%;
  height: 800px; }

.header-words {
  padding-top: 70px;
  padding-left: 5px;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 100px;
  text-shadow: 1px 1px black; }
  @media screen and (max-width: 500px) {
    .header-words {
      font-size: 75px; } }

.header a {
  text-decoration: none;
  color: white; }

.button-div {
  padding-top: 94px;
  width: 500px;
  margin: 0 auto;
  float: left;
  display: block;
  margin-right: 2.85714%;
  width: 88.57143%; }
  .button-div:last-child {
    margin-right: 0; }

.nav-buttons {
  float: left;
  display: block;
  margin-right: 2.85714%;
  width: 31.42857%;
  font-family: 'Roboto Condensed', sans-serif;
  border: solid white 2px;
  display: inline;
  font-size: 30px;
  color: white;
  display: inline-block;
  /*   width: 160px;
   */
  height: 50px;
  text-align: center;
  padding-top: 10px;
  margin-right: 7px;
  text-shadow: 1px 1px black;
  box-shadow: 1px 1px black; }
  .nav-buttons:last-child {
    margin-right: 0; }
  @media screen and (max-width: 500px) {
    .nav-buttons {
      float: left;
      display: block;
      margin-right: 6.66667%;
      width: 100%; }
      .nav-buttons:last-child {
        margin-right: 0; } }

#bio {
  width: 100%;
  /*   height: 450px;*/
  color: #402613;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 35px;
  float: left;
  display: block;
  margin-right: 2.85714%;
  width: 111.42857%;
  display: block;
  padding-bottom: 20px;
  height: inherit; }
  #bio:last-child {
    margin-right: 0; }
  @media screen and (max-width: 500px) {
    #bio {
      float: left;
      display: block;
      margin-right: 6.66667%;
      width: 73.33333%;
      margin-left: 26.66667%; }
      #bio:last-child {
        margin-right: 0; } }

#bio h1 {
  margin: 0 auto;
  width: 500px; }

.bio-words {
  float: left;
  display: block;
  margin-right: 2.85714%;
  width: 65.71429%;
  padding-top: 50px;
  padding-bottom: 60px;
  font-size: 25px;
  margin-left: 11.42857%; }
  .bio-words:last-child {
    margin-right: 0; }
  @media screen and (max-width: 500px) {
    .bio-words {
      float: left;
      display: block;
      margin-right: 6.66667%;
      width: 100%; }
      .bio-words:last-child {
        margin-right: 0; } }

.bio-pic {
  float: left;
  display: block;
  margin-right: 2.85714%;
  width: 31.42857%;
  margin: 0 auto;
  background-image: url("../styles/imgs/bigfoot.jpg");
  background-size: 100% 100%;
  width: 300px;
  height: 300px; }
  .bio-pic:last-child {
    margin-right: 0; }

#project-display {
  max-width: 80.5em;
  margin-left: auto;
  margin-right: auto;
  margin-left: 11.42857%;
  padding-bottom: 20px;
  padding-left: none; }
  #project-display::after {
    clear: both;
    content: "";
    display: table; }

.proj {
  padding-bottom: 20px; }

.fescue {
  float: left;
  display: block;
  margin-right: 2.85714%;
  width: 31.42857%;
  /*   @include omega(4n);
   */
  background-image: url("../styles/imgs/Port-fescue.png");
  background-size: 100% 100%;
  width: 300px;
  height: 200px; }
  .fescue:last-child {
    margin-right: 0; }

.surf {
  float: left;
  display: block;
  margin-right: 2.85714%;
  width: 31.42857%;
  /*   @include omega(4n);
   */
  background-image: url("../styles/imgs/port-surfpaddle.png");
  background-size: 100% 100%;
  width: 300px;
  height: 200px; }
  .surf:last-child {
    margin-right: 0; }

.blog {
  float: left;
  display: block;
  margin-right: 2.85714%;
  width: 31.42857%;
  /*   @include omega(4n);
   */
  background-image: url("../styles/imgs/port-blog.png");
  background-size: 100% 100%;
  width: 300px;
  height: 200px; }
  .blog:last-child {
    margin-right: 0; }

.chitchat {
  float: left;
  display: block;
  margin-right: 2.85714%;
  width: 31.42857%;
  /*   @include omega(4n);
   */
  background-image: url("../styles/imgs/ChitChat.png");
  background-size: 100% 100%;
  width: 300px;
  height: 200px; }
  .chitchat:last-child {
    margin-right: 0; }

.calc {
  float: left;
  display: block;
  margin-right: 2.85714%;
  width: 31.42857%;
  /*   @include omega(4n);
   */
  background-image: url("../styles/imgs/port-calc.png");
  background-size: 100% 100%;
  width: 300px;
  height: 200px;
  display: inline-block; }
  .calc:last-child {
    margin-right: 0; }

.big-div {
  height: 1000px; }

.contact {
  max-width: 80.5em;
  margin-left: auto;
  margin-right: auto;
  float: left;
  display: block;
  margin-right: 2.85714%;
  width: 100%;
  width: 100%;
  /*   height: 450px;*/
  color: #402613;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 35px;
  margin: 0 auto;
  float: left;
  clear: both;
  padding-top: 20px; }
  .contact::after {
    clear: both;
    content: "";
    display: table; }
  .contact:last-child {
    margin-right: 0; }
  @media screen and (max-width: 500px) {
    .contact {
      float: left;
      display: block;
      margin-right: 6.66667%;
      width: 100%; }
      .contact:last-child {
        margin-right: 0; } }

.icon {
  float: left;
  display: block;
  margin-right: 2.85714%;
  width: 8.57143%;
  margin-left: 11.42857%; }
  .icon:last-child {
    margin-right: 0; }

#conth1 {
  width: 100%;
  color: #402613;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 35px;
  float: left;
  display: block;
  margin-right: 2.85714%;
  width: 111.42857%;
  display: block;
  padding-top: 100px;
  padding-bottom: 20px;
  height: inherit; }
  #conth1:last-child {
    margin-right: 0; }
  @media screen and (max-width: 500px) {
    #conth1 {
      float: left;
      display: block;
      margin-right: 6.66667%;
      width: 73.33333%;
      margin-left: 26.66667%; }
      #conth1:last-child {
        margin-right: 0; } }

#conth1 h1 {
  margin: 0 auto;
  width: 500px; }

#wrap {
  float: left;
  display: block;
  margin-right: 2.85714%;
  width: 65.71429%;
  margin-left: 22.85714%; }
  #wrap:last-child {
    margin-right: 0; }
  @media screen and (max-width: 840px) {
    #wrap {
      float: left;
      display: block;
      margin-right: 3.22581%;
      width: 48.3871%; }
      #wrap:last-child {
        margin-right: 0; } }

#wrap a {
  display: inline-block;
  border-radius: 120px;
  background-color: #fff;
  width: 120px;
  height: 120px;
  text-align: center;
  color: #402613;
  margin: 0 auto; }
  @media screen and (max-width: 500px) {
    #wrap a {
      float: left;
      display: block;
      margin-right: 6.66667%;
      width: 100%; }
      #wrap a:last-child {
        margin-right: 0; } }

a .fa {
  margin: auto;
  width: 100%;
  height: 100%;
  line-height: 120px;
  font-size: 75px; }

#wrap a:hover {
  color: white;
  background-color: #402613; }

/*# sourceMappingURL=main.css.map */
